<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <script src="../../vue-dev/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container" id="app">
        {{result}}  这下看有没有
        <div class="search_con">
            <span>Search</span>
            <input type="text" v-model="key">
        <table>
         <th @click="orderBy('name')">Name</th>
            <th @click="orderBy('power')">Power</th>
            <tr v-for="v in result">
                <td>{{v.name}}</td>
                <td>{{v.power}}</td>
            </tr>
        </table>
    </div>
    </div>
    <script src="./grid.js"></script>
</body>

</html>